.button-appearance {
 -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    cursor: pointer;
}

.button-edit {
  color: green;
}

.button-remove {
  color: red;
}

.todo-list-item:hover {
  border-left: 3px solid #3399ff;
}

.about-container {
  margin-top: 40px !important;
}